body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* upload home */
.up-area{
    margin:10px auto 30px;
}

/* color finder */
#file{
    display: none;
}

.upload{
    padding: 20px 0;
}


.upload-area{
    height: 250px;
    border: 5px dashed lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    overflow: auto;
    position: relative;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h2{
    font-size: 22px;
    padding:0;
    margin:0;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 40px;
    color: darkslategray;
    position: relative;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:300px;
}

.box_button{
	font-weight: 700;
    background-color: #cacbcc;
    color: #515353;
    padding: 8px 16px; 
    display: block;
    margin: 3px auto 0;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media(max-width: 768px) {
    .upload-area h2{
        font-size: 20px;
    }
}
