{% extends "base.html" %}
{% set active_page = "flickr-search" %}

{% block title %}Two Forms{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="mycontainer">
    <div class="card">
        <img src="/static/images/unsplash1.jpeg"/>
        <div class="card-body">
                <p class="textToCopy">
                    Photo by <a href="https://unsplash.com/@peter_mc_greats" target="_blank">Pietro De Grandi</a> on <a href="https://unsplash.com/photos/T7K4aEPoGGk" target="_blank">Unsplash</a>
                </p>
                <button type="button" class="btn btn-primary" id="copytoclipboard" onclick="copy('.textToCopy')">Copy</button>
        </div>
    </div>
</div>
<div class="gif-img">
    <h3>Demo</3>
    <img src="/static/images/copy.gif"/>
</div>
    



{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    // copy function to copy credit text 
    function copy(selector){
        let $temp = $("<div>");
        $("body").append($temp);
        $temp.attr("contenteditable", true)
            .html($(selector).html()).select()
            .on("focus", function() { document.execCommand('selectAll',false,null); })
            .focus();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

{% endblock %}